#icon {
    width: 1.5vw;
}

.header{
    height: 5vw;
    padding: 1vw;
    background-color: hsl(1, 24%, 50%);
    color: white;
    font-family: 'Abel';
}

mat-tab {
    height: 4vh;
    width: 10vw;
    margin-left: -10px;
}

mat-tab-group {
    width: 95vw;
}

#tab-group {
    overflow-y: hidden;
}

.tab-content{
    height: 34vw;
    padding: 2vw;
    border: 4px solid #3d4c5a;
    font-size: 1.5vw;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    width: 90vw;
    text-align: center;
    line-height: 1.75vw;
}

.tab-content h5 {
    font-size: 1.5vw;
}

.tab-content p {
    font-size: 1vw;
    text-align: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

.langHeader {
    padding: 12vh;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1vw;
    font-size: 3.85vw;
}

mat-card {
    margin-bottom: 12vh;
    background-color: #3d4c5a;
    color: lightgray;
    width: 100vw;
    overflow-y: hidden;
}

.journey {
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10vh;
}

.journey h5 {
    font-size: 3.5vw;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 1vw;
    margin-bottom: 10vh;
    background: url("/assets/journey.png");
    background-size: 100% 5vh;
    background-repeat: no-repeat;
    padding: 3vh, 10vh, 3vh, 10vh;
}

.journey h6 {
    font-size: 2em;
}

#dojo {
    width: 2.25vw;
}

.stackName {
    letter-spacing: 1vw;
}

.stackNum {
    font-family: 'Abel';
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: normal;
    margin-right: 1vw;
}

.icon {
    width: 2em;
    height: 2em;
}

.divider {
    height: 1.5vw;
    padding: 1vw;
    background-color: #48596b;
    margin-bottom: 12vh;
}

.products {
    /* width: 30vw; */
    margin: 1em;
}

#imgContainer {
    width: 85%;
    padding: 1.5vmin;
}

.centered {
    text-align: center;
    padding-top: 2vh;
    font-size: 1.25vw;
}

.collapsibleContent {
    font-size: 1.15em;
}

/* #fixMargin {
    margin-left: 76%;
} */

.bold {
    font-weight: bold;
}

/* #fixMarginSmaller {
    margin-left: -33%;
} */