<mat-card>
    <mat-card-content>
      <h2 class="langHeader">LANGUAGES AND FRAMEWORKS</h2>
      <mat-tab-group class="tab-group">
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
              <img src="/assets/angular.png" class="icon" alt="Angular">
          </ng-template>
          <div class="tab-content">
            {{angularContent}}
            <a href="https://github.com/JonathanMEnriquez/personalWebsite.git"> Link</a> to the source code.
          </div>
        </mat-tab>
        <mat-tab label="Tab 2">
          <ng-template mat-tab-label>
            <img src="/assets/djangoSimple.png" class="icon" alt="Django">
          </ng-template>
          <div class="tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>  
        </mat-tab>
        <mat-tab label="Tab 3">
          <ng-template mat-tab-label>
            <img src="/assets/ios.png" class="icon" alt="iOS">
          </ng-template>
          <div class="tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </div>  
        </mat-tab>
        <mat-tab label="Tab 4">
            <ng-template mat-tab-label>
                <img src="/assets/jquery.png" class="icon" alt="JQuery">
            </ng-template>
            <div class="tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
              <br />
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </div>  
          </mat-tab>
        <mat-tab label="Tab 5">
          <ng-template mat-tab-label>
              <img src="/assets/mongoLeaf.png" class="icon" alt="MongoDB">
          </ng-template>
          <div class="tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </div>  
        </mat-tab>
        <mat-tab label="Tab 6">
          <ng-template mat-tab-label>
              <img src="/assets/nodejs.png" class="icon" alt="Node">
          </ng-template>
          <div class="tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
              <br />
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </div> 
        </mat-tab>
        <mat-tab label="Tab 7">
          <ng-template mat-tab-label>
            <img src="/assets/materialize.png" class="icon" alt="Materialize">
          </ng-template>
          <div class="tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
              <br />
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
              Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
              In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
              feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
              orci enim rutrum enim, vel tempor sapien arcu a tellus.
            </div> 
        </mat-tab>
        <mat-tab label="Tab 8">
            <ng-template mat-tab-label>
              <img src="/assets/socket.png" class="icon" alt="Socket io">
            </ng-template>
            <div class="tab-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
                In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
                feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
                orci enim rutrum enim, vel tempor sapien arcu a tellus.
                <br />
                <br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
                In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
                feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
                orci enim rutrum enim, vel tempor sapien arcu a tellus.
              </div> 
          </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
<div class="divider"><h5></h5></div>
<div class="journey">
  <h5>THE <img src="/assets/codingDojo.png" id="dojo" alt="Coding Dojo"> JOURNEY</h5>
  <ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header" ><h6 class="stackName"><span class="stackNum">FIRST STACK: </span>Python</h6></div>
    <div class="collapsible-body"><p>{{pythonContent}}</p></div>
  </li>
  <li>
    <div class="collapsible-header"><h6 class="stackName"><span class="stackNum">SECOND STACK: </span>iOS </h6></div>
    <div class="collapsible-body"><p>{{iOSContent}}</p></div>
  </li>
  <li>
    <div class="collapsible-header"><h6 class="stackName"><span class="stackNum">THIRD STACK: </span>MEAN</h6></div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>
</div>