.icon {
    width: 20%;
}

.header{
    height: 5vw;
    padding: 1vw;
    background-color: hsl(1, 24%, 50%);
    color: white;
    font-family: 'Abel';
}

mat-tab {
    height: 4vh;
    margin-left: -10px;
}

.tab-content{
    height: 34vw;
    padding: 2vw;
    border: 4px solid #3d4c5a;
    font-size: 1.5vw;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
}

.tab-content p {
    font-size: 0.75em;
    text-align: center;
}

.langHeader {
    padding: 12vh;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1vw;
}

mat-card {
    margin-bottom: 12vh;
    background-color: #3d4c5a;
    color: lightgray;
}

.journey {
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10vh;
}

.journey h5 {
    font-size: 3.5em;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 1vw;
    margin-bottom: 10vh;
    background: url("/assets/journey.png");
    background-size: 100% 5vh;
    background-repeat: no-repeat;
    padding: 3vh, 10vh, 3vh, 10vh;
}

.journey h6 {
    font-size: 2em;
}

.collapsible-header {
    /* padding-left: 5%;
    padding-right: 6vw; */
}

#dojo {
    width: 2.25vw;
}

.stackName {
    letter-spacing: 1vw;
}

.stackNum {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: normal;
    margin-right: 1vw;
}

.icon {
    width: 2em;
    height: 2em;
}

.divider {
    height: 1.5vw;
    padding: 1vw;
    background-color: #48596b;
    margin-bottom: 12vh;
}

.products {
    /* width: 30vw; */
    margin: 1em;
}

#imgContainer {
    width: 350px;
    padding: 2vh;
}

.centered {
    text-align: center;
    padding-top: 2vh;
    font-size: 1.25vw;
}

.collapsibleContent {
    font-size: 1.15em;
}

#fixMargin {
    margin-left: -76%;
}

.bold {
    font-weight: bold;
}

#fixMarginSmaller {
    margin-left: -33%;
}