<div id="container">
    <div class="header">
    <h5></h5>
    </div>
    <h1>ABOUT ME</h1>
    <mat-grid-list cols="10" rowHeight="1:1.5">
        <mat-grid-tile [colspan]="4">
            <div class="parallax-container" materialize="parallax">
                <h1 class="containerHeader">Coding</h1>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6">
            <p class="aboutContent">{{aboutContent[0]}}</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6">
            <p class="aboutContent">{{aboutContent[1]}}</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <div class="parallax-container" materialize="parallax">
                <h1 class="containerHeader">Social Work</h1>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <div class="parallax-container" materialize="parallax">
                <h1 class="containerHeader">Hobbies</h1>
            </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6">
                <p class="aboutContent">{{aboutContent[2]}}</p>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider id="wideLine"></mat-divider>
    <div class="header">
        <h5></h5>
    </div>
</div>
<!-- <div class="parallax-container" >
  <div class="parallax" materialize="parallax"><img class="main" src="assets/lake_pretty.gif"></div>
</div>
<div class="body">
  <h2>About me</h2>
  <p>Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

      Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

    </p>
</div>
<div class="parallax-container" >
    <div class="parallax" materialize="parallax"><img class="main" src="assets/waterfall.gif"></div>
</div>
<div class="body">
    Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

    Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

    Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

    Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

    Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
</div>
<mat-grid-list cols="20" rowHeight="1:1">
    <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile><button [routerLink]="['']" mat-icon-button color="warn"><mat-icon class="material-icons md-48">home</mat-icon></button></mat-grid-tile>
    <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile><button [routerLink]="['about']" mat-icon-button color="warn"><mat-icon class="material-icons md-48">info</mat-icon></button></mat-grid-tile>
    <mat-grid-tile [colspan]="4"></mat-grid-tile>
    <mat-grid-tile><button [routerLink]="['code']" mat-icon-button color="warn"><mat-icon class="material-icons md-48">code</mat-icon></button></mat-grid-tile>
    <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile><button mat-icon-button color="warn"><mat-icon class="material-icons md-48">textsms</mat-icon></button></mat-grid-tile>
    <mat-grid-tile [colspan]="3"></mat-grid-tile>

    <mat-grid-tile id="footer" [colspan]="20" [rowspan]="1"></mat-grid-tile>
</mat-grid-list> -->