<div id="container">
    <div class="header">
    <h5></h5>
    </div>
    <h1 id="aboutMe">ABOUT ME</h1>
    <mat-grid-list cols="10" rowHeight="1:1.5">
        <mat-grid-tile [colspan]="4">
            <div class="parallax-container" materialize="parallax">
                <h1 class="containerHeader">Coding</h1>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6">
            <p class="aboutContent">{{aboutContent[0]}}</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6">
            <p class="aboutContent">{{aboutContent[1]}}</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <div class="parallax-container" materialize="parallax">
                <h1 class="containerHeader">Social Work</h1>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <div class="parallax-container" materialize="parallax">
                <h1 class="containerHeader">Hobbies</h1>
            </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6">
                <p class="aboutContent">{{aboutContent[2]}}</p>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider id="wideLine"></mat-divider>
    <div class="header">
        <h5></h5>
    </div>
</div>